<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">  
    <title>break-box site</title>
</head>

<body>

    <header>
        <div id="logo">
        </div>
        <nav>
            <ul>
                <li><a href=#home>Home</a></li>
                <li><a href=#hook>Product</a></li>
            </ul>
        </nav>
    </header>

    <main id="home">
         <div id="about">
                <div id="about-text">
                    <h1>Break-ups are hard.</h1>
                    <p>
                        It is said that it takes half the length of the relationship to get over it.</br>
                        Thankfully we can be there to help you through it!
                    </p>
                </div>

            <img src="images/box.png" alt="break-box">

            <div id="about-text">
                    <h2>What's in the box?</h2>
                    <p>
                        Each month you will be sent a custom box tailered to you. 
                        It will contian 5 full size items plus 1-3 gifts!
                    </p>
                </div>
        </div>     

        <div id="hook">
            <h2>Your Monthly</br>Break-up Box</h2>
            <p>Over $100 value for $25 a month</p>
            <button id="subscribe">subscribe</button>
            <p>5 full size items + <emp>GIFT</emp> + <emp>FREE</emp> shipping!</p>
        </div>

        <div id="how">
            <div id="how-text">
                <h2>How It Works.</h2>
                <p>
                    We have a system that specifically chooses what items are best for you!
                    After filling out a quick questionare we can begin sending you items
                    that will help you get on the road to recovery. The first box is always 
                    our <i>"care package"</i> box which has the custom essentials for you.
                    After that, month to month you will be supplied with various items that
                    help you move towards becoming yourself again.
                </p>
            </div>
        </div>

    </main>

    <footer>
        <div id="footer-logo"></div>
        <nav id="footer-nav">
            <ul>
                <li><a href=#home>Home</a></li>
                <li><a href=#hook>Product</a></li>
            </ul>
        </nav>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>