<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">  
    <title>My Super Awesome Template</title>
</head>

<body>

    <header id="home">
        <div id="logo">
            <img src="" alt="header logo">
        </div>
        <nav>
            <ul>
                <li><a href=#home>Home</a></li>
                <li><a href=#product>Product</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="hook">
            <button id="subscribe"></button>
        </div>

        <div id="join-today">
            <div id="join-text">
                <button id="subscribe"></button>
            </div>

            <div id="join-image">

            </div>
        </div>

        <div id="about">
            <div id="about-image">

            </div>
            <div id="about-text">
                <button id="subscribe"></button>

            </div>
        </div>

        <div id="works">
            <div id="how"></div>
            <div id="how"></div>
            <div id="how"></div>
        </div>

        <div id="boxes">
            <div id="box-deal"></div>
            <div id="box-deal"></div>
            <div id="box-deal"></div>
            <div id="box-deal"></div>
        </div>   
    </main>

    <footer>
        <div id="footer-logo">
            <img src="" alt="">
        </div>
        <nav id="footer-nav">
            <ul>
                <li><a href=#home>Home</a></li>
                <li><a href=#product>Product</a></li>
            </ul>
        </nav>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>