/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial, Helvetica, sans-serif; }

header {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  height: 76px;
  width: 100%;
  background-color: black; }
  header #logo {
    width: 30%;
    max-width: 180px;
    height: inherit;
    margin-left: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center; }
  header nav {
    width: 40%; }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      padding: 5px; }
      header nav ul li a {
        text-decoration: none;
        color: white; }

main {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 76px; }

button {
  padding-bottom: 15px;
  font-size: 1.15em;
  padding: 14px;
  letter-spacing: 0;
  margin: 10px;
  background-color: lightgrey;
  border-color: lightgrey;
  text-transform: uppercase;
  font-weight: bold; }

#hook {
  height: 550px;
  background-image: url("../images/hook_small.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  text-align: center;
  margin: auto; }
  @media only screen and (min-width: 600px) {
    #hook {
      background-image: url("../images/hook_mid.jpg"); } }
  @media only screen and (min-width: 950px) {
    #hook {
      background-image: url("../images/hook.jpg"); } }
  #hook h2 {
    padding: 15px;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: bold; }
  #hook p {
    padding: 10px; }
    #hook p emp {
      font-weight: bold;
      font-size: 1.1em; }

/*# sourceMappingURL=main.css.map */